*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 110px 0px;
    height: 80vh;
    width: 80%;
    /* flex-basis:80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(233, 47%, 7%);
    color:white;
}
.item{
    /* border: 1px solid pink; */
    background-color: hsl(244, 38%, 16%);
    flex-basis:540px;
    height: 446px;
}
.item1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 80px 90px 40px 60px;
}
h1{
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
span{
    color: hsl(277, 64%, 61%);
  }
.description{
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6em;
}
.statcontainer{
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
}
.statnum{
    flex:1;
    color: hsla(0, 0%, 100%, 0.6);
}
h3{
    color: hsl(0, 0%, 100%);
    padding: 8px 0;
}
.item2{
    background:
      linear-gradient(
        hsla(277, 64%, 61%, 0.4), 
        rgba(170, 92, 219, 0.4)
      ),
      url("images/image-header-desktop.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    position: relative;
}

@media screen and (max-width: 600px){
    .container{
        margin: 0;
        height: 100vh;
        width: 100%; 
        display: flex;
        flex-direction: column;
        background-color:hsl(233, 47%, 7%);
        color:white;
    }
    .item2{
        width:87%;
        order:-1;
        flex-basis:27vh;
        background:
            linear-gradient(
            hsla(277, 64%, 61%, 0.4), 
            rgba(170, 92, 219, 0.4)
            ),
            url("images/image-header-mobile.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
        position: relative;
    }
    .item1{
        width:87%;
        flex-basis:57vh;
        justify-content: space-between;
        align-items: center;
    }
    h1, p{
        text-align:center;
    }
    .statcontainer{
        flex-direction: column;
    }
    .statnum{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

/* @media all and (min-width: 1440px){
    .container{
        margin: 150px 80px;
        height: 80vh;
    }
    .item1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .statcontainer{
        flex-direction: row;
        justify-content: space-between;
    }
} */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

