*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}
.container{
    margin: 150px 80px;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:hsl(233, 47%, 7%);
    color:white;
    align-items: center;
    align-content:center;
}
.item{
    /* border: 1px solid pink; */
    background-color: hsl(244, 38%, 16%);
    height: 446px;
    width: 540px;
    /* flex-shrink: 0; */
}
.item1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
h1{
    padding: 80px 90px 40px 60px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}
span{
    color: hsl(277, 64%, 61%);
  }
.description{
    padding: 0 100px 0 60px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6em;
}
.statcontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 70px 110px 0px 60px;
    font-family: 'Lexend Deca', sans-serif;
}
.statnum{
    /* border: 1px solid rgb(198, 192, 255); */
    color: hsla(0, 0%, 100%, 0.6);
}
h3{
    color: hsl(0, 0%, 100%);
    padding: 8px 0;
}
.item2{
    background:
      linear-gradient(
        hsla(277, 64%, 61%, 0.4), 
        rgba(170, 92, 219, 0.4)
      ),
      url("images/image-header-desktop.jpg");
}
@media (max-width: 575px) and (min-width: 375px){
    .container{
        flex-wrap: wrap-reverse;
        margin:auto
    }
    .item1{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .statcontainer{
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}
/* @media all and (min-width: 1440px){
    .container{
        margin: 150px 80px;
        height: 80vh;
    }
    .item1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .statcontainer{
        flex-direction: row;
        justify-content: space-between;
    }
} */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

